@import "variables";
@import "animation";

//		NAVIGATION   20-70
//		HEADER	73-

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	background-color: rgb(51, 50, 50);
}

//  \\\         N A V I G A T I O N         ///

.burger-btn {
	position: fixed;
	top: 30px;
	right: 30px;
	padding: 1em;
	cursor: pointer;
	background: none;
	border: 1px solid transparent;
	z-index: 100;
	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 5px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before,
		.burger-btn__bars {
			transform: scale(1) rotate(0deg);
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		content: "";
		right: 0;
		height: 3px;
		background-color: $white;
		width: 100%;
		transition: transform 0.3s;
	}
	&__bars {
		transform: scale(0.8) rotate(5deg);
		&::before {
			top: 13px;
			transform: scale(0.8) rotate(-15deg);
			transition-delay: 0.1s;
		}
		&::after {
			top: 27px;
			transform: rotate(-15deg);
			transition-delay: 0.2s;
		}
	}
}

//  \\\         H E A D E R        ///
.header {
	height: 100vh;
	width: 100vw;
	background-image: url(/img/photographer-g9dd126508_1920.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: $first-color;
		mix-blend-mode: multiply;
		z-index: -1;
	}
	&__link {
		position:absolute;
		bottom:0.5em;
		left:50%;
		transform: translatex(-50%);
		text-decoration: none;
		color: $white;
		z-index: 10;
		font-size: 6rem;
	}
}

@import "media";
